{{ 'recurpay.scss.css' | asset_url | stylesheet_tag }}
<script>
  (function() {
    //Append Script
    var initScript = function(url, callback) {
      var script = document.createElement("script");
      script.type = "text/javascript";
      if (script.readyState){
        script.onreadystatechange = function() {
          if (script.readyState == "loaded" || script.readyState == "complete") {
            script.onreadystatechange = null;
            callback();
          }
        };
      } else {
        script.onload = function() {
          callback();
        };
      }
      script.src = url;
      document.getElementsByTagName("head")[0].appendChild(script);
    };

    // This is our JavaScript that we'll run after jQuery is included
    var recurpaySubscription = function($) {
      window.recurpay = {};
      recurpay.domainURL = '{{ settings.recurpay_domain }}';
      recurpay.action = '{{ settings.recurpay_redirect }}';
      recurpay.pdpAPI = recurpay.domainURL + '/api/storefront/product/{{ product.id }}/plans.json';
      recurpay.accountAPI = recurpay.domainURL + '/api/storefront/account/customers/{{customer.id}}/subscriptions/count.json';
      recurpay.manageAccountAPI = recurpay.domainURL + '/storefront/account/authenticate/{{customer.id}}';
      recurpay.checkoutAPI = recurpay.domainURL + '/checkout/initiate.rp';
      recurpay.token = "";
      {% if customer %}
      recurpay.customer = '{{customer.id}}';
      {% else %}
      recurpay.customer = 'guest';
      {% endif %}

      var accountTemplate = '',
          pdpTemplate = '',
          accountSelector = "#recurpay-account-widget",
          pdpSelector = "#recurpay-pdp-widget",
          subscriptionSelector = "#recurpay-manage-subscriptions",
          checkoutSelector = '[href="/checkout"], form[action="/cart"] button[type="submit"], form[action="/cart"] input[type="submit"], form[action="/checkout"] input[type="submit"], form[action="/checkout"] button[type="submit"], button.ucd-checkout-btn',
          atcSelector = 'form[action="/cart/add"] button[type="submit"],form[action="/cart/add"] input[type="submit"]',
          buynowSelector = 'form[action="/cart/add"] .shopify-payment-button';
      
      function randomStrings() {
        var recurChars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
        var recurLength = 24;
        var recurString = '';
        for (var i=0; i<recurLength; i++) {
          var recurNum = Math.floor(Math.random() * recurChars.length);
          recurString += recurChars.substring(recurNum,recurNum+1);
        }
        return(recurString);
      }   
      
      if (typeof(Storage) !== "undefined") {
        if(localStorage.getItem("recurpayTracking") == null){
          recurpay.token = randomStrings();
          localStorage.setItem("recurpayTracking", recurpay.token);
        }
        else{
          recurpay.token = localStorage.getItem("recurpayTracking");
        }
      }
      
      
      // ACCOUNT PAGE
      if($(accountSelector).length && recurpay.customer !== "guest"){
        function recurAccount(count){
          accountTemplate += '<div class="subscription__account" data-subscription-block>'
          accountTemplate += '<div class="subscription__account--ribbon">New</div>'
          accountTemplate += '<div class="subscription__account--content">'
          accountTemplate += '<div class="subscription__account--heading">Subscriptions <span data-subscription-count>('+count+')</span></div>'
          if(count !== 0){
            accountTemplate += '<div class="subscription__account--text" data-active-subscriptions>Pause, reschedule or cancel at your convenience.</div>' 
            accountTemplate += '<div class="subscription__account--button" id="recurpay-manage-subscriptions"><a href="#">Manage Subscriptions</a></div>'
          }
          else{
            accountTemplate += '<div class="subscription__account--text" data-active-subscriptions>There are no active subscriptions</div>' 
            accountTemplate += '<div class="subscription__account--button"><a href="/">Start Subscribing</a></div>'
          }
          accountTemplate += '</div></div>'
          return accountTemplate;
        }

        $.ajax({
          url: recurpay.accountAPI,
          type: 'GET',
          success: function(response){
            var accountHTML = '';
            if(response != "ERROR" && response.success == true) {
              accountHTML = recurAccount(response.data.subscription.count);          
            }
            else {
              accountHTML = recurAccount(0);
            }
            if($(accountSelector).length){
              $(accountSelector).html(accountHTML);
            }
          },
          error: function(jqXhr, textStatus, errorThrown){
            console.log( errorThrown );
          }
        });
        
        $(document).on('click', subscriptionSelector, function(e) {
          e.preventDefault();
          var checkoutForm = $("<form action='"+recurpay.manageAccountAPI+"' method='post' style='display:none;'></form>");
          $('body').append(checkoutForm);
          checkoutForm.submit();
        });
      }

      // CART PAGE
      function recurCart(cartData){
        console.log(cartData);
        debugger;
        var checkoutData = [],
            cartItems = cartData.items,
            cartAttributes = [],
            cartNote = cartData.note,
            recurpayCheckout = false;


        $.each( cartData.attributes, function(key, value ) {
        if(key != "Subscription" && key != '_PlanId'){
            cartAttributes.push({
            name: key,
            value:value
            });
        }
        });

        for(var i=0; i < cartItems.length; i++){
          var Planid = '',
              item = cartItems[i],
              property = item.properties,
              lineProperty = [];
          

          if(property){
            if(property._PlanId){
              Planid = property._PlanId
              recurpayCheckout = true;
            }

            $.each( property, function(key, value ) {
              if(key != "Subscription" && key != '_PlanId'){
                lineProperty.push({
                  name: key,
                  value:value
                });
              }
            });
          }
          
          if(Planid == ''){
            checkoutData.push({
              quantity: item.quantity,
              variant_id: item.id,
              properties: lineProperty,
              type: 'ONETIME',
              currency:'INR'
            });
          }
          else{
            checkoutData.push({
              quantity: item.quantity,
              variant_id: item.id,
              properties: lineProperty,
              plan_id: Planid,
              type: 'SUBSCRIPTION',
              currency:'INR'
            });
          }
        }

        if(recurpayCheckout) { 
          var getCheckoutData = JSON.stringify(checkoutData),
              getCartAttributes = JSON.stringify(cartAttributes),
              cartNote = $('[name="note"]').val();
              checkoutForm = $("<form action='"+recurpay.checkoutAPI+"' method='post' style='display:none;'>" +
                               "<input type='hidden' name='line_items' value='"+getCheckoutData+"' />"+
                               "<input type='hidden' name='customer_id' value='"+recurpay.customer+"' />" +
                               "<input type='hidden' name='token_id' value='"+recurpay.token+"' />" +
                               "<input type='hidden' name='note_attributes' value='"+getCartAttributes+"' />" +
                               "<input type='hidden' name='note' value='"+cartNote+"' />" +
                               "</form>");
          $('body').append(checkoutForm);
          checkoutForm.submit();
        }
        else {
          document.location.href = "/checkout";
        }
      }
      
      $(document).on('click', checkoutSelector, function(e) {
        e.preventDefault();
        e.stopPropagation();
        $.getJSON('/cart', function(response) {
          recurCart(response);
        })
      });

      // PRODUCT PAGE
      function recurPDP(data){
        var prepaidCount = 0,
            regularCount = 0,
            prepaidDiscount = [],
            maxPrepaidDiscount = '',
            showTabs = false,
            GetPlans = "",
            tabHTML = "";
        $.each(data.plans, function(key, plan) {
          var DiscountPercentageHtml = '',
              TrialDescriptionHtml = '',
              DescriptionHtml = '',
              PlanHtml = '',
              PlanType = 'regular';
          
          if(plan.type){
            PlanType = plan.type;
            if(PlanType == 'prepaid'){
              prepaidCount += prepaidCount+1;
              prepaidDiscount.push(plan.discount.value);
            }
            else{
              regularCount += regularCount+1; 
            }
          }
          if(plan.discount.type == "percentage" && plan.discount.value != 0){
            DiscountPercentageHtml = '<span class="recurpay__discount">(' + plan.discount.value + '% Off)</span>';
          }
          if(plan.description) {
            DescriptionHtml = '<div class="recurpay__description">' + plan.description + '</div>';
          }
          if(plan.trial.description) {
            TrialDescriptionHtml  = '<div class="recurpay__description"><span class="recurpay__description--trial">Trial Details : </span>' + plan.trial.description +'</div>';
          }

          PlanHtml += '<div class="recurpay__plan" plan-type="'+PlanType+'" plan-id="'+plan.id+'"><label class="recurpay__plan--label">';
          if(key == 0){
            PlanHtml += '<input type="radio" name="recurpay-input" class="recurpay__plan--input" checked="checked" data-plan="' + plan.id + '" data-plan-name="' + plan.name + '" data-plan-type="'+PlanType+'">';
          }
          else{
            PlanHtml += '<input type="radio" name="recurpay-input" class="recurpay__plan--input" data-plan="' + plan.id + '" data-plan-name="' + plan.name + '" data-plan-type="'+PlanType+'">';
          }
          PlanHtml += '<span class="recurpay__plan--checkmark"></span><span class="recurpay__plan--title">' + plan.name + DiscountPercentageHtml+'</span></label>';            
          PlanHtml += '<div class="recurpay__plan--description">' + DescriptionHtml + TrialDescriptionHtml + '</div></div>';

          GetPlans += PlanHtml;
        })
        if(regularCount > 0 && prepaidCount >0){
          showTabs = true;
          maxPrepaidDiscount = Math.max.apply(Math,prepaidDiscount);
        }

        if(showTabs){
          tabHTML += '<div class="recurpay-tabs"><div class="recur-tab regular-tab active" plan-type="regular">Regular</div><div class="recur-tab prepaid-tab" plan-type="prepaid"><span>Prepaid</span>'
          if(maxPrepaidDiscount >0 ){
            tabHTML += '<span class="recur-disc-tag">('+maxPrepaidDiscount+'% Off)</span>'
          }
          tabHTML += '</div></div>';
        }

        pdpTemplate += '<div class="recurpay__widget" data-recurpay-widget><div class="new__label"><span class="new__label--text">New</span></div><div class="recurpay__content">'
        pdpTemplate += '<label class="recurpay__label"><div class="recurpay__label--text"><input type="checkbox" checked="checked" class="recurpay__checkbox" autocomplete="off" data-subscribe-input /><span class="recurpay__checkmark"></span>'
        pdpTemplate += 'Subscribe Now and Save <br/> <span style="font-size:12px">All subscription discounts will be applicable from checkout</span></div><img src="https://cdn.shopify.com/s/files/1/0265/7687/9691/files/image.svg?v=1600689960" class="recurpay__label--img">'
        pdpTemplate += '</label><div class="recurpay__plans" style="display:block">'
        pdpTemplate += '<div data-recurpay-plans>'+tabHTML+GetPlans+'</div><div class="recurpay__action"><button type="button" data-recurpay-action>Subscribe Now</button></div>'
        pdpTemplate += '</div></div></div>';
        
        pdpTemplate += '<input type="hidden" id="recurpay_plan_name" name="" value="">';
        pdpTemplate += '<input type="hidden" id="recurpay_plan_id" name="" value="">';
        
        return pdpTemplate;
      }
      
      if($(pdpSelector).length <= 0){
        if (window.location.href.indexOf("/products/") > -1) {
          if($(atcSelector).length){
          	$(atcSelector).first().before("<div id='recurpay-pdp-widget'></div>");
          }
        }
      }
      
      if($(pdpSelector).length){
        $.ajax({
          url: recurpay.pdpAPI,
          type: 'GET',
          async: false,
          success: function(response) {
            var pdpHTML = '';
            if(response != "ERROR" && response.success == true) {
              if(response.data.plans.length > 0){
                pdpHTML = recurPDP(response.data);
              }
            }
            if($(pdpSelector).length){
              $(pdpSelector).html(pdpHTML);
            }
          }
        });
      }
      
      function recurProperties(){
        if($('.recurpay__checkbox').is(":checked")){
          var planName = $('[name="recurpay-input"]:checked').attr('data-plan-name'),
              planId = $('[name="recurpay-input"]:checked').attr('data-plan');

          $('#recurpay_plan_name').attr("name","properties[Subscription]").val(planName);
          $('#recurpay_plan_id').attr("name","properties[_PlanId]").val(planId);
        }
        else{
          $('#recurpay_plan_name').attr("name","");
          $('#recurpay_plan_id').attr("name","")
        }
        
      }
      
      function addSubscription(){
        var variantSelector = $('form[action="/cart/add"] [name="id"]'),
            quantitySelector = $('form[action="/cart/add"] [name="quantity"]'),
            subscriptionPlanId = $('[name="recurpay-input"]:checked').attr('data-plan'),
            subscriptionPlanName = $('[name="recurpay-input"]:checked').attr('data-plan-name'),
            subscriptionPlanType = $('[name="recurpay-input"]:checked').attr('data-plan-type'),
            planVariant = parseInt(variantSelector.val()),  
            planQuantity = 1,
            planParams = {};
        
        if(quantitySelector.length) {
          planQuantity = parseInt(quantitySelector.val());        
        }

        planParams = {
          id: planVariant,
          quantity: planQuantity,
          properties: {
            'Subscription': subscriptionPlanName,
            '_PlanId': subscriptionPlanId
          }
        }
        
          if (recurpay.action == "default" && $(atcSelector).length){
            $(atcSelector).first().click();
          }
          else{
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              dataType: 'json',
              data: planParams,
              success: function() {
                if (recurpay.action == "checkout"){
                  $.getJSON('/cart', function(response) {
                    recurCart(response);
                  });
                }
                else{
                  // document.location.href = '/cart';
                  if($('.site-header__cart-toggle').length){
                    $('.site-header__cart-toggle')[0].click();
                  }
                }
              },
              error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                $('[data-recurpay-error]')
                .html(err.description)
                .show().delay(3000).fadeOut();
              }
            });
          }
        
      }
      
      
      
      $(document).on('click',".recur-tab", function(e) {
        e.preventDefault();
        var $this = $(this);
        var subType = $this.attr("plan-type");
        var recurInput = $('.recurpay__plan[plan-type="'+subType+'"]').find("[name='recurpay-input']");
        if($this.hasClass("active")){
          $('.recurpay__plan').hide();
          $('.recurpay__plan[plan-type="'+subType+'"]').show();
          if(($('.recurpay__plan[plan-type="'+subType+'"]').find("[name='recurpay-input']:checked").length) <=0){
            $(recurInput).first().prop("checked",true).change();
          }
        }
        else{
          $('.recur-tab').removeClass("active");
          $this.addClass("active");
          $('.recurpay__plan').hide();
          $('.recurpay__plan[plan-type="'+subType+'"]').show();
          $(recurInput).first().prop("checked",true).change();
        }    
      });
      if($('.recur-tab').length){
        $('.recur-tab')[0].click();
      }
      
      
      $(document).on('change',"[name='recurpay-input']", function(e) {
        recurProperties();
      });
         
      $(document).on('change',".recurpay__checkbox", function(e) {
        var $this = $(this);
        if($this.is(':checked')){
          $(atcSelector).hide();
          $(buynowSelector).hide();
          $('.recurpay__plans').show();
        }
        else{
          $(atcSelector).show();
          $(buynowSelector).show();
          $('.recurpay__plans').hide();
        }
        recurProperties();
      });
      
      $(document).on('click',"[data-recurpay-action]", function(e) {
          addSubscription();
      });
      
    }

    //Append jQuery if it is not there, then call to recurpaySubscription
    //Otherwise directly call to recurpaySubscription
    if ((typeof(jQuery) == 'undefined')) {
      initScript('//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js', function() {
        var recurpayScript = jQuery.noConflict(true);
        recurpaySubscription(recurpayScript);
      })
    }
    else {
      recurpaySubscription(jQuery);
    }     

  })();
  if ($(".recurpay__content").length > 0) {
    // Do stuff with $(".Mandatory")
    $(".recurpay__content").each(function() {
      // "this" points to current item in looping through all elements with
      // class="Mandatory"
      //         $(this).doSomejQueryWithElement();
      $(".product-actions").css("display", "none");
      $(".shopify-dynamic-button").css("display", "none");
      $(".product-sticky-cart").css("display", "none");
      
    }); 
  }
</script>

<style>
  /**===================================
 * RECURPAY DEV
 *  - PDP SUBSCRIPTION WIDGET STYLE
 *  - ACCOUNT PAGE WIDGET STYLE
 ===================================*/

//Flexbox SASS mixins
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
       -ms-flex-align: $align;
          align-items: $align;
}

//Variables
$color--black: #333333;
$color--white: #ffffff;
$color--brand: #495b41;
$color--border: #e3e3e3;

$button--color: {{ settings.recurpay_button_color }};
$button--background: {{ settings.recurpay_button_bg }};

//PDP Styles
#recurpay-pdp-widget, .recurpay-pdp-widget{
  display:block;
  width:100%;
  clear:both;
  .recurpay__widget {
    clear: both;
    width: 100%;
    padding: 10px 0;
    position: relative;

    .new__label {
      margin: 0 0 5px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-end);
      display:none;

      .new__label--text {
        line-height: 1;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 2px;
        background: $color--brand;
        color: $color--white;
      }
    }
    .recurpay__content {
      display: block;
      position: relative;
      border: 2px solid $color--black;
      border-radius:5px;
      background:#fff;
    }
    .recurpay__label {
      font-size: 14px;
      cursor: pointer;
      padding: 8px 10px;
      margin-bottom: 0px;
      line-height: 1.4em;
      font-weight: 600;
      color: $color--black;
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      pointer-events: none;

      .recurpay__label--text {
/*         @include flexbox(); */
        text-transform: inherit;
        @include align-items(center);
      }
      .recurpay__checkbox, .recurpay_bulk__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
      }
      .recurpay__label--img {
        max-width: 30px;
      }
      .recurpay__checkmark {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        position: relative;
        display: inline-block;
        border: 1px solid $color--border;
        display:none;

        &::after {
          top: 1px;
          left: 5px;
          width: 6px;
          opacity: 0;
          content: "";
          height: 12px;
          visibility: hidden;
          position: absolute;
          border: solid $color--white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .recurpay__checkbox,.recurpay_bulk__checkbox  {
        &:checked ~ .recurpay__checkmark {
          background: $color--black;
          border-color: $color--black;

          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .recurpay__plans {
      display: none;
      border-top: 1px solid $color--border;
      .recurpay-tabs {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        margin-bottom: 10px;
        .recur-tab {
          flex: 50%;
          text-align: center;
          font-weight: 600;
          font-size:15px;
          color: #979797;
          cursor:pointer;
          padding: 10px 5px;
          border-bottom: 1px solid #e9e9e9;
          &.active{
            font-weight: 600;
            border-bottom: 3px solid #545454;
            color: #000;
            border-right: 1px solid #e9e9e9;
            border-left: 1px solid #e2e2e2;
          }
          .recur-disc-tag{
            padding-left: 2px;
            color: #495b41;
            font-weight: 600;
          }
        }
      }
    }
    .recurpay__action {
      padding: 12px 10px;

      button {
        border: 0;
        outline: 0;
        width: 100%;
        padding: 12px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $button--color;
        background: $button--background;
      }
    }
    .recurpay__plan {
      padding: 12px 10px;
      .recurpay__plan--label {
        cursor: pointer;
        font-size: 14px;
        margin-bottom:0px;
        @include flexbox();
        padding-bottom: 5px;
        @include align-items(center);

        .recurpay__discount {
          color: $color--brand;
          padding-left: 5px;
          font-weight: 500;
        }
      }
      .recurpay__plan--description {
        padding-left: 28px;
        font-size: 14px;
      }
      .recurpay__plan--input {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
      }
      .recurpay__plan--checkmark {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        position: relative;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $color--border;

        &::after {
          top: 3px;
          left: 3px;
          width: 10px;
          opacity: 0;
          content: "";
          height: 10px;
          visibility: hidden;
          position: absolute;
          border-radius: 50%;
          background: $color--white;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .recurpay__plan--input {
        &:checked ~ .recurpay__plan--checkmark {
          border-color: $color--black;

          &::after {
            opacity: 1;
            visibility: visible;
            background: $color--black;
          }
        }
      }
    }
  }
}
//Account Styles
.subscription__account {
  padding: 15px;
  margin: 0 0 25px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000000;

  .subscription__account--ribbon {
    top: 10px;
    color: #fff;
    right: -25px;
  	width: 100px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 1.4em;
    position: absolute;
    background: #495b41;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .subscription__account--heading {
    font-size: 18px;
    line-height: 1.4em;
  }
  .subscription__account--text {
    font-size: 13px;
    color: #9d9d9d;
  }
  .subscription__account--button {
    margin: 15px 0 0;

    a {
      border: 0;
      outline: 0;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      line-height: 1.4em;
      padding: 12px 20px;
      letter-spacing: 1px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $button--color;
      background: $button--background;
    }
  }
}

</style>