<section class="Section Section--spacingNormal availability_at_stores" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="available_logo section_half">
      <div class="available_logo_left text_center">

        {% if section.settings.left_title != blank %}
          <header class="SectionHeader SectionHeader--center text_center">
            <h2 class="SectionHeader__Heading Heading u-h1 heading_small">{{ section.settings.left_title }}</h2>
          </header>
        {% endif %}
        
        <ul class=" slick" data-slick='{
         "dots": true,
         "arrows": false,
         "draggable": true,
         "slidesToShow": {{ section.settings.logos_per_row }},
         "slidesToScroll": 1
         }'>
          {% for block in section.blocks %}
           {% if block.settings.left_column_logo != blank %}
           <li class="slide">
             <figure>
               {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: block.settings.left_column_logo -%}{%- endcapture -%}
               {%- assign image_url = block.settings.left_column_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="Image--lazyLoad" 
                  data-src="{{ image_url }}"
                  data-widths="[{{ supported_sizes }}]"
                  data-sizes="auto"
                  alt="{{ block.settings.left_column_logo.alt | escape }}"
                  data-media-id="{{ block.settings.left_column_logo.id }}" />
             </figure>
           {% endif %}
          {% endfor %}
         </ul>
      </div>
      
      <div>
        <ul class="slick" data-slick='{
         "dots": true,
         "arrows": false,
         "draggable": true,
         "slidesToShow": {{ section.settings.logos_per_row }},
         "slidesToScroll": 1
         }'>
          {% for block in section.blocks %}
         {% if block.settings.right_column_logo != blank %} <li class="slide"> right <img src="{{ block.settings.right_column_logo | img_url: 'master' }}" alt="right"/></li>{% endif %}
          {% endfor %}
         </ul>
    </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "logos_per_row",
        "label": "Logos per row",
        "default": "6"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto rotate between slides",
        "default": true
      },
      {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading",
        "default": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "Logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "left_column_logo",
            "label": "Logo"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "right-logo",
        "name": "Right Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "right_column_logo",
            "label": "Logo"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Availbility Logos",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}