{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}
{%- capture flickity_options1 -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}
<section class="Section Section--spacingNormal availability_at_stores" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    <div class="available_logo">
      <div class="available_logo_left text_center">
        {% if section.settings.left_title != blank %}
          <h2>{{ section.settings.left_title }}</h2>
        {% endif %}
        <ul class="available_logo_slider slick"  data-slick='{
         "dots": ture,
         "arrows": false,
         "draggable": true,
         "slidesToShow": 3,
         "slidesToScroll": 1
         }'>
        {% for block in section.blocks %}
          {% if block.type == 'left-column' %}
            {% if block.settings.logo != blank %}
              <li class=""><figure>{% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                <img src="{{ block.settings.logo | img_url: 'master' }}" />{% if block.settings.link != blank %}</a>{% endif %}</figure>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      </div>
      <div class="available_logo_right text_center">
        {% if section.settings.right_title != blank %}
          <h2>{{ section.settings.right_title }}</h2>
        {% endif %}
        <ul class="available_logo_slider Slideshow__Carousel {% if section.settings.show_arrow %}Slideshow__Carousel--withScrollButton{% endif %} Carousel Carousel--fadeIn {% if section.settings.show_fullscreen %}Carousel--fixed{% endif %} Carousel--insideDots"
         data-flickity-config='{{ flickity_options1 }}'>
        {% for block in section.blocks %}
          {% if block.type == 'right-column' %}
            {% if block.settings.logo != blank %}
              <li><figure>{% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                <img src="{{ block.settings.logo | img_url: 'master' }}" />{% if block.settings.link != blank %}</a>{% endif %}</figure>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</section>




{% schema %}
  {
    "name": "Available Logo",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_available_logo",
        "label": "Show Available Logo",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_arrow",
        "label": "Show bottom arrow",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto rotate between slides",
        "default": true
      },
      {
        "type": "range",
        "id": "cycle_speed",
        "min": 3,
        "max": 8,
        "step": 1,
        "unit": "sec",
        "label": "Change slides every",
        "default": 5
      },
      {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading"
      },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading"
      }
    ],
    "blocks": [
      {
        "type": "left-column",
        "name": "Left Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
        ]
      },
      {
        "type": "right-column",
        "name": "Right Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Available Logo",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}