{% style %}
  .bg_overlay_text_section{background:{{ section.settings.bg_color }};}
{% endstyle %}
<section class="Section Section--spacingNormal text_with_overlay bg_overlay_text_section" id="section-{{ section.id }}">
  <div class="Container">
    <div class="text_block content_wrapper">
      <div class="left_block">
        <div class="left_block_desc">
          {%- if section.settings.content_title_01 != blank -%}
          <h2>{{ section.settings.content_title_01 }}</h2>
          {%- endif -%}
          {%- if section.settings.content_desc_01 != blank -%}
          <p>{{ section.settings.content_desc_01 }}</p>
          {%- endif -%}
          {%- if section.settings.content_list_1_title_01 != blank -%}
          <h3>{{ section.settings.content_list_1_title_01 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_1_desc_01 != blank -%}
          <ul>{{ section.settings.content_list_1_desc_01 }}</ul>
          {%- endif -%}
          {%- if section.settings.content_list_1_title_02 != blank -%}
          <h3>{{ section.settings.content_list_1_title_02 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_1_desc_02 != blank -%}
          <ul>{{ section.settings.content_list_1_desc_02 }}</ul>
          {%- endif -%}
        </div>
        <div class="left_block_desc">
          {%- if section.settings.content_title_02 != blank -%}
          <h2>{{ section.settings.content_title_02 }}</h2>
          {%- endif -%}
          {%- if section.settings.content_desc_02 != blank -%}
          <p>{{ section.settings.content_desc_02 }}</p>
          {%- endif -%}
          {%- if section.settings.content_list_2_title_01 != blank -%}
          <h3>{{ section.settings.content_list_2_title_01 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_2_desc_01 != blank -%}
          <ul>{{ section.settings.content_list_2_desc_01 }}</ul>
          {%- endif -%}
          {%- if section.settings.content_list_2_title_02 != blank -%}
          <h3>{{ section.settings.content_list_2_title_02 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_2_desc_02 != blank -%}
          <ul>{{ section.settings.content_list_2_desc_02 }}</ul>
          {%- endif -%}
        </div>
      </div>
      {%- if section.settings.image != blank -%}
      <div class="center_block">
        <figure><img src="{{ section.settings.image | img_url: 'master' }}" /></figure>
      </div>
      {%- endif -%}
      <div class="right_block">
        <ul>
          {%- for block in section.blocks -%}
            {%- if block.settings.image != blank and block.settings.title != blank -%}
          <li>{{ block.settings.image }}<span>{{ block.settings.title }}</span></li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Background Overlay Text",
    "settings": [      
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content 1"
      },
      {
        "type": "text",
        "id": "content_title_01",
        "label": "Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_desc_01",
        "label": "Description 01"
      },
      {
        "type": "text",
        "id": "content_list_1_title_01",
        "label": "Content List 1 Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_list_1_desc_01",
        "label": "Content List 1 Description 01"
      },
      {
        "type": "text",
        "id": "content_list_1_title_02",
        "label": "Content List 1 Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_list_1_desc_02",
        "label": "Content List 1 Description 02"
      },
      {
        "type": "header",
        "content": "Content 2"
      },
      {
        "type": "text",
        "id": "content_title_02",
        "label": "Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_desc_02",
        "label": "Description 02"
      },
      {
        "type": "textarea",
        "id": "content_list_2_title_01",
        "label": "Content List 2 Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_list_2_desc_01",
        "label": "Content List 2 Description 01"
      },
      {
        "type": "text",
        "id": "content_list_2_title_02",
        "label": "Content List 2 Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_list_2_desc_02",
        "label": "Content List 2 Description 02"
      }
    ],
    "blocks": [
      {
        "name": "no-ingradiants",
        "type": "no-ingradiants",
        "settings": [
          {
            "type": "textarea",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Background Overlay Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}