{% style %}
  .background_text_section{background:url({{ section.settings.bg_image }}) no-repeat center center;background-size:cover;}
{% endstyle %}
<section class="Section Section--spacingNormal background_text_section" id="section-{{ section.id }}">
  <div class="Container">
    <div class="background_text_wrapper">
      {%- if section.settings.left_desc != blank -%}
      <div class="background_text_left">
        <h2>{{ section.settings.left_desc }}</h2>
      </div>
      {%- endif -%}
      <div class="background_text_right">
        <div class="background_text_btn">
          {% if section.settings.btn_link_01 != blank and section.settings.btn_title_01 != blank %}
          <a href="{{ section.settings.btn_link_01 }}" class="btn">{{ section.settings.btn_title_01 }}</a>
          {% endif %}
          {% if section.settings.btn_link_02 != blank and section.settings.btn_title_02 != blank %}
          <a href="{{ section.settings.btn_link_02 }}" class="btn">{{ section.settings.btn_title_02 }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
  {
    "name": "Background Text",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_bg_text",
        "label": "Show Background Text",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "textarea",
        "id": "left_desc",
        "label": "Left Description"
      },
      {
        "type": "textarea",
        "id": "right_desc",
        "label": "Right Description"
      },
      {
        "type": "text",
        "id": "btn_title_01",
        "label": "Button Heading 01"
      },
      {
        "type": "url",
        "id": "btn_link_01",
        "label": "Button Link 01"
      },
      {
        "type": "text",
        "id": "btn_title_02",
        "label": "Button Heading 02"
      },
      {
        "type": "url",
        "id": "btn_link_02",
        "label": "Button Link 02"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}