{% style %}
    #section-{{ section.id }}{
      background:{{ section.settings.bg_color }};
      position:relative;
  }
  @media screen and (min-width: 768px){
    .text_with_overlay:after{
      content: '';
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: url('{{ "milk-curved-base.png" | file_url }}') no-repeat;
    }
  }
  @media screen and (min-width: 1920px){
    .text_with_overlay:after{ background-size: cover; }
  }
{% endstyle %}
<section class="Section Section--spacingNormal text_with_overlay animate show_up" id="section-{{ section.id }}">
  <div class="Container">
    {%- if section.settings.best_image != blank -%}
        <span class="best_startup_img badge_text">
          <figure><img src="{{ section.settings.best_image | img_url: 'master' }}" /></figure>
        </span>
    {%- endif -%}
    <div class="text_block content_wrapper">
      <div class="left_block">
        <div class="left_block_desc">
          {%- if section.settings.content_title_01 != blank -%}
            <h2 class="Heading heading_small animate slide_right">{{ section.settings.content_title_01 }}</h2>
          {%- endif -%}
          {%- if section.settings.content_desc_01 != blank -%}
            <p class="content animate slide_right ad-1">{{ section.settings.content_desc_01 }}</p>
          {%- endif -%}
          <div>
          {%- if section.settings.content_list_1_title_01 != blank -%}
            <h3 class="Heading heading_small animate slide_right ad-1-5">{{ section.settings.content_list_1_title_01 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_1_desc_01 != blank -%}
            <ul class="flex_always animate slide_right ad-1-5">{{ section.settings.content_list_1_desc_01 }}</ul>
          {%- endif -%}
          </div>
          <div>
          {%- if section.settings.content_list_1_title_02 != blank -%}
            <h3 class="Heading heading_small animate slide_right ad-1-5">{{ section.settings.content_list_1_title_02 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_1_desc_02 != blank -%}
            <ul class="flex_always animate slide_right ad-1-5">{{ section.settings.content_list_1_desc_02 }}</ul>
          {%- endif -%}
          </div>
        </div>
        <div class="left_block_desc block_2">
          {%- if section.settings.content_title_02 != blank -%}
            <h2 class="Heading heading_small animate slide_right ad-1">{{ section.settings.content_title_02 }}</h2>
          {%- endif -%}
          {%- if section.settings.content_desc_02 != blank -%}
            <p class="content animate slide_right ad-1-5">{{ section.settings.content_desc_02 }}</p>
          {%- endif -%}
          {%- if section.settings.content_list_2_title_01 != blank -%}
            <h3 class="Heading heading_small animate slide_right ad-1-5">{{ section.settings.content_list_2_title_01 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_2_desc_01 != blank -%}
            <ul class="flex">{{ section.settings.content_list_2_desc_01 }}</ul>
          {%- endif -%}
          {%- if section.settings.content_list_2_title_02 != blank -%}
            <h3 class="Heading heading_small animate slide_right ad-1-5">{{ section.settings.content_list_2_title_02 }}</h3>
          {%- endif -%}
          {%- if section.settings.content_list_2_desc_02 != blank -%}
            <ul class="flex animate slide_right ad-1-5">{{ section.settings.content_list_2_desc_02 }}</ul>
          {%- endif -%}
        </div>
      </div>
  
      {%- if section.settings.image != blank -%}
        <div class="center_block animate">
          <span class="image_back animate"><img class="Image--lazyLoad" src="{{ 'milk-back.png' | file_url }}" /></span>
          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
          {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <figure class="sec_image animate"><img class="Image--lazyLoad" src="{{ section.settings.image | img_url: 'master' }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}" data-media-id="{{ section.settings.image.id }}" /></figure>
          <span class="image_front animate"><img class="Image--lazyLoad" src="{{ 'milk-front.png' | file_url }}" /></span>
        </div>
      {%- endif -%}
      
      <div class="right_block">
        <ul>
          {%- for block in section.blocks -%}
            {%- if block.settings.image != blank or block.settings.image_png != blank and block.settings.title != blank -%}
              <li class="flex_always {{ forloop.index }}">
              {% if block.settings.image_png != blank %}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: block.settings.image_png -%}{%- endcapture -%}

          {%- assign image_url = block.settings.image_png | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <figure><img class="Image--lazyLoad"  data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ block.settings.image_png.alt | escape }}" data-media-id="{{ block.settings.image_png.id }}" /></figure>
              {% else %}
              {{ block.settings.image }}
              {% endif %}
              <span>{{ block.settings.title }}</span></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Background Overlay Text",
    "class": "Section--spacingNormal text_overlay_wrapper",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "best_image",
        "label": "Badge Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content 1"
      },
      {
        "type": "text",
        "id": "content_title_01",
        "label": "Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_desc_01",
        "label": "Description 01"
      },
      {
        "type": "text",
        "id": "content_list_1_title_01",
        "label": "Content List 1 Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_list_1_desc_01",
        "label": "Content List 1 Description 01"
      },
      {
        "type": "text",
        "id": "content_list_1_title_02",
        "label": "Content List 1 Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_list_1_desc_02",
        "label": "Content List 1 Description 02"
      },
      {
        "type": "header",
        "content": "Content 2"
      },
      {
        "type": "text",
        "id": "content_title_02",
        "label": "Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_desc_02",
        "label": "Description 02"
      },
      {
        "type": "textarea",
        "id": "content_list_2_title_01",
        "label": "Content List 2 Heading 01"
      },
      {
        "type": "textarea",
        "id": "content_list_2_desc_01",
        "label": "Content List 2 Description 01"
      },
      {
        "type": "text",
        "id": "content_list_2_title_02",
        "label": "Content List 2 Heading 02"
      },
      {
        "type": "textarea",
        "id": "content_list_2_desc_02",
        "label": "Content List 2 Description 02"
      }
    ],
    "blocks": [
      {
        "name": "Ingrediants List",
        "type": "no-ingradiants",
        "settings": [
          {
            "type": "textarea",
            "id": "image",
            "label": "Image (SVG Code)"
          },
          {
            "type": "image_picker",
            "id": "image_png",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Background Overlay Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}