{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="featured_logo_section section-{{ section.id }}-padding">
  <div class="Container">
    <div class="featured_logo">
     {% if section.settings.title != blank %}
      <div class="featured_logo_title">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      <ul class="featured_logo_slider">
        {% for block in section.blocks %}
          {% if block.settings.logo != blank %}
        <li><figure>{% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          <img src="{{ block.settings.logo | img_url: 'master' }}" />{% if block.settings.link != blank %}</a>{% endif %}</figure></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Featured Logo",
    "settings": [
      {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
      {
        "type": "checkbox",
        "id": "enabled_featured_logo",
        "label": "Show Featured Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "Logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Logo",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}