{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}
  {% style %}
    /*#section-{{ section.id }}{
      padding-top: 50px;
      padding-bottom: 50px;
    }*/
  @media(min-width:992px){
    #section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    {% endstyle %}
<section class="Section Section--spacingNormal featured_logo_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="featured_logo">
       {%- if section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}
      <ul class="featured_logo_slider slick" data-slick='{
       "dots": true,
       "arrows": false,
       "draggable": true,
       "slidesToShow": 4,
       "slidesToScroll": 1,
        "autoPlay": true,
        "autoplaySpeed": 2000,
       "responsive": [{"breakpoint":1025,"settings":{"slidesToShow": 3,
       "slidesToScroll": 1,"dots": true}},{"breakpoint":600,"settings":{"slidesToShow": 2,
       "slidesToScroll": 1, "dots": true}}]
       }'>
        {% for block in section.blocks %}
          {% if block.settings.logo != blank %}
        <li class="slide"><figure>{% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          <img src="{{ block.settings.logo | img_url: 'master' }}" />{% if block.settings.link != blank %}</a>{% endif %}</figure></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Featured Logo",
    "settings": [      
      {
        "type": "checkbox",
        "id": "enabled_featured_logo",
        "label": "Show Featured Logo",
        "default": true
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 40
      }, 
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 40
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "show_arrow",
        "label": "Show bottom arrow",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto rotate between slides",
        "default": true
      },
      {
        "type": "range",
        "id": "cycle_speed",
        "min": 3,
        "max": 8,
        "step": 1,
        "unit": "sec",
        "label": "Change slides every",
        "default": 5
      }
    ],
    "blocks": [
      {
        "type": "Logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Logo",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}