{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "wrapAround": true,
  "dragThreshold": 15,
  "pauseAutoPlayOnHover": false,
  "autoPlay": {% if section.settings.autoplay %}{{ section.settings.cycle_speed | times: 1000 }}{% else %}false{% endif %},
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %}
}
{%- endcapture -%}
<section class="Section Section--spacingNormal featured_logo_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    <div class="featured_logo">
     {% if section.settings.title != blank %}
      <div class="featured_logo_title">
        <h2>{{ section.settings.title }}</h2>
      </div>
      {% endif %}
      <ul class="featured_logo_slider Slideshow__Carousel {% if section.settings.show_arrow %}Slideshow__Carousel--withScrollButton{% endif %} Carousel Carousel--fadeIn {% if section.settings.show_fullscreen %}Carousel--fixed{% endif %} Carousel--insideDots"
         data-flickity-config='{{ flickity_options }}'>
        {% for block in section.blocks %}
          {% if block.settings.logo != blank %}
        <li><figure>{% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          <img src="{{ block.settings.logo | img_url: 'master' }}" />{% if block.settings.link != blank %}</a>{% endif %}</figure></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Featured Logo",
    "settings": [
      
      {
        "type": "checkbox",
        "id": "enabled_featured_logo",
        "label": "Show Featured Logo",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "Logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Logo",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}