<section class="Section Section--spacingNormal animate" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="founders">
      <header class="SectionHeader flex_always">
        {%- if section.settings.image_1 != blank -%}
          <div class="founder_img flex_always">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
              <figure>
                {%- assign image_url = section.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="Image--lazyLoad" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image_1.alt | escape }}">
              </figure>
            {%- if section.settings.image_2 != blank -%}
              <figure>
                {%- assign image_url = section.settings.image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="Image--lazyLoad" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image_2.alt | escape }}">
              </figure>
            {% endif %}
            {%- if section.settings.image_3 != blank -%}
              <figure>
                {%- assign image_url = section.settings.image_3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="Image--lazyLoad" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image_3.alt | escape }}">
              </figure>
            {% endif %}
          </div>
        {%- endif -%}
        
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <div class="title">
            {%- if section.settings.subheading != blank -%}
              <span class="sub_heading">{{ section.settings.subheading }}</span>
            {% endif %}
            {%- if section.settings.title != blank -%}
              <h2 class="SectionHeader__Heading Heading u-h1 sec_heading large">{{ section.settings.title }}</h2>
            {%- endif -%}
          </div>
        {%- endif -%}
      </header>
      <div class="content_wrapper animate">
        <div class="content">{{ section.settings.content }}</div>
        {% if section.settings.content_img != blank %}<div class="content_img animate slide_left">{{ section.settings.content_img }}</div>{% endif %}
      </div>
      <div>
        
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Founders",
    "class": "founders-section",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Founder 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Founder 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Founder 3"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "content_img",
        "label": "Content Image"
      }
    ],
    "presets": [
      {
        "name": "Founders"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}