<section class="Section Section--spacingNormal home_blog_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    {% if section.settings.title != blank %}
      <header class="SectionHeader SectionHeader--center text_center">
        <h2 class="SectionHeader__Heading Heading u-h1 sec_heading">{{ section.settings.title }}</h2>
      </header>
    {% endif %}
    <div class="home_blog">
      {% assign blog = blogs[section.settings.blog] %}
      {% for article in blog.articles limit:1 %}
      <div class="col_left">
        <figure><a href="{{ article.url }}">
         {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: article.image -%}{%- endcapture -%}

          {%- assign image_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="Image--lazyLoad"  data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ article.image.alt | escape }}" data-media-id="{{ article.image.id }}" />
              
        </a></figure>
        <div class="home_blog_left_desc">
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <p>{{ article.content | strip_html | truncatewords: 45 }}</p>
        <div class="blog-tag-list"><div class="blog-tag-left">{% for tag in article.tags %}<span>{{ tag }}</span>{% endfor %}</div>
        <div class="blog-tag-right">{{ article.published_at | date: "%d/%m/%Y" }}</div></div>
        </div>
      </div>
      {% endfor %}
      <div class="col_right">
        {% for article in blog.articles offset:1 limit:2 %}
        <div class="home_blog_right_list">
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <p>{{ article.content | strip_html | truncatewords: 45 }}</p>
        <div class="blog-tag-list">
          <div class="blog-tag-left">{% for tag in article.tags %}<span>{{ tag }}</span>{% endfor %}</div>
          <div class="blog-tag-right">{{ article.published_at | date: "%d/%m/%Y" }}</div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Home Blog",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_home_blog",
        "label": "Show Home Blog",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Home Blog",
        "category": "Blog"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}