<div class="PageHeader_wrapper">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center Container">
      <h1 class="SectionHeader__Heading Heading u-h1 sec_heading animate ad-1">{{ page.title }}</h1>
    </div>
  </header>
</div>
<div class="PageContent Rte Container animate show_up ad-1-5">
  {{ page.content }}
</div>
{{  page.template_suffix   }} {{ template }}
{% if page.template_suffix == 'judgeme_all_reviews' %}
<!-- Start of Judge.me code --> 
  <div style='clear:both'></div>
  <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='Original Plant Based Milk' data-id='6712291590197' data-auto-install='false'>
    {% for product in all_products %}
    {{ all_products.metafields.judgeme.widget }}
    {% endfor %}
  </div>
<!-- End of Judge.me code -->
{% endif %}
{% comment %}
{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_large",
      "label": "Large width",
      "default": false
    }
  ]
}
{% endschema %}
{% endcomment %}