{%- if product.metafields.custom.product_use_image != blank and product.metafields.custom.use_as_you_text != blank and product.metafields.custom.use_as_you_desc != blank -%}
  {% style %}
    #section-{{ section.id }}{
      background:{{ section.settings.bg_color }};
      padding-top: 50px;
      padding-bottom: 50px;
  }
  @media(min-width:992px){
    #section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<section class="Section Section--spacingNormal product_use_it_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="product_use_it">
      {% if product.metafields.custom.use_as_you_heading != blank %}
      <h2>{{ product.metafields.custom.use_as_you_heading }}</h2>
      {% endif %}
      {% assign i = -1 %}
      {% for image in product.metafields.custom.product_use_image.value %}
        {% assign i = i | plus:1 %}
      <div class="product_use_it_wrapper">
        {% if image != blank %}
        <figure><img src="{{ image | img_url: 'master' }}" /></figure>
        {% endif %}
        {% if product.metafields.custom.use_as_you_text.value[i] != blank %}
          <h3>{{ product.metafields.custom.use_as_you_text.value[i] }}</h3>
        {% endif %}
        {% if product.metafields.custom.use_as_you_desc.value[i] != blank %}
          <p>{{ product.metafields.custom.use_as_you_desc.value[i] }}</p>
        {% endif %}
      </div>
        {% endfor %}
    </div>
  </div>
</section>
{%- endif -%}


{% schema %}
  {
    "name": "Use It As You Like",
    "settings": [
      {
        "type": "header",
        "content": "Content In Metafield"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "presets": [
      {
        "name": "Use It As You Like",
        "category": "Text"
      }
    ]
  }
{% endschema %}
