{%- if product.metafields.custom.image_with_text_image != blank and product.metafields.custom.image_with_text_description != blank -%}
  {% style %}
    #section-{{ section.id }}{
      background:{{ section.settings.bg_color }};
      padding-top: 50px;
      padding-bottom: 50px;
  }
  @media(min-width:992px){
    #section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<section class="Section Section--spacingNormal product_img_text_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="product_img_text">
      {% assign i = -1 %}
      {% for image in product.metafields.custom.image_with_text_image.value %}
        {% assign i = i | plus:1 %}
      <div class="product_img_text_wrapper flex_always {{ product.metafields.custom.image_with_text_image_position.value[i] | handle }}">
        {% if image != blank %}
        <figure><img src="{{ image | img_url: 'master' }}" />
          {{ product.metafields.custom.image_with_text_badges | img_url: 'master' }}
          {% if product.metafields.custom.image_with_text_badges.value[i] != blank %}
        <img src="{{ product.metafields.custom.image_with_text_badges.value[i] | img_url: 'master' }}" class="prod_img_txt_badge" />
            {% endif %}
        </figure>
        {% endif %}
        <div class="product_img_text_desc">
        {%- if product.metafields.custom.image_with_text_heading.value[i] != blank -%}
          <h3>{{ product.metafields.custom.image_with_text_heading.value[i] }}</h3>
        {%- endif -%}
        {%- if product.metafields.custom.image_with_text_description.value[i] != blank -%}
          <p>{{ product.metafields.custom.image_with_text_description.value[i] }}</p>
        {%- endif -%}
       </div>
      </div>
        {% endfor %}
    </div>
  </div>
</section>
{%- endif -%}




{% schema %}
  {
    "name": "Product Image Text",
    "settings": [
      {
        "type": "header",
        "content": "Content In Metafield"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "presets": [
      {
        "name": "Product Image Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}