<section class="Section Section--spacingNormal product_faq_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    {% if section.settings.title != blank %}
      <header class="SectionHeader SectionHeader--center text_center">
        <h2 class="SectionHeader__Heading Heading u-h1 sec_heading">{{ section.settings.title }}</h2>
      </header>
    {% endif %}
    <div class="product_faq">
{%- if block.settings.title != blank and block.settings.answer != blank -%}
            <div class="Faq__Item {% if section.blocks[forloop.index].type == 'separator' or forloop.last %}Faq__Item--lastOfSection{% endif %}" aria-expanded="false" {{ block.shopify_attributes }}>
              <span class="Faq__Icon">{% render 'icon' with 'select-arrow-right' %}</span>

              <div class="Faq__ItemWrapper">
                <button class="Faq__Question">{{ block.settings.title | escape }}</button>

                <div class="Faq__AnswerWrapper" aria-hidden="true">
                  <div class="Faq__Answer Rte">
                    {{ block.settings.answer }}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
              </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "FAQ",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product FAQ",
        "category": "FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}