<section class="Section Section--spacingNormal product_use_it_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    <div class="product_use_it">
      {% if product.metafields.custom.use_as_you_heading != blank %}
      <h2>{{ product.metafields.custom.use_as_you_heading }}</h2>
      {% endif %}
      {% for image in product.metafields.custom.use_as_you_image.value %}
      <div class="product_use_it_wrapper">
        <figure><img src="{{ image | img_url: 'master' }}" /></figure>
        <h3>{{ product.metafields.custom.use_as_you_text.value[i] }}</h3>
        <p>{{ product.metafields.custom.use_as_you_desc.value[i] }}</p>
      </div>
        {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Use It As You",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}