{% style %}
  #section-{{ section.id }}{
    background: url('{{ "review-bg-pattern.png" | file_url }}') {{ section.settings.bg_color }} repeat;
    margin:0;
    padding:0;
  }
{% endstyle %}
<section class="Section Section--spacingNormal review_topbar_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="review_topbar flex_always">
      {%- if section.settings.left_title != blank -%}
        <div class="review_topbar_left">
          <span class="reviews_star">
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.53 33.3"><defs></defs><g id="Layer_1-2"><path id="Path_47" fill="{{section.settings.star_color}}" d="m18.27.77l4.48,8.95c.28.31.62.56.99.75l9.7,1.49c.74.15,1.21.88,1.06,1.61-.05.23-.16.45-.31.62l-6.96,6.96c-.25.25-.5.75-.25,1l1.74,9.7c.11.65-.32,1.26-.97,1.37-.27.05-.54,0-.77-.13l-8.7-4.48c-.38-.25-.87-.25-1.24,0l-8.7,4.48c-.53.35-1.24.21-1.59-.32-.18-.27-.24-.61-.16-.93l1.74-9.7c0-.5,0-.75-.25-1L.36,13.71c-.46-.43-.49-1.16-.05-1.63.21-.22.5-.35.8-.36l9.7-1.49c.5,0,.75-.25.99-.75L16.28.53c.32-.52.99-.68,1.51-.36.23.14.4.36.48.61"/></g></svg>
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.53 33.3"><defs></defs><g id="Layer_1-2"><path id="Path_47" fill="{{section.settings.star_color}}" d="m18.27.77l4.48,8.95c.28.31.62.56.99.75l9.7,1.49c.74.15,1.21.88,1.06,1.61-.05.23-.16.45-.31.62l-6.96,6.96c-.25.25-.5.75-.25,1l1.74,9.7c.11.65-.32,1.26-.97,1.37-.27.05-.54,0-.77-.13l-8.7-4.48c-.38-.25-.87-.25-1.24,0l-8.7,4.48c-.53.35-1.24.21-1.59-.32-.18-.27-.24-.61-.16-.93l1.74-9.7c0-.5,0-.75-.25-1L.36,13.71c-.46-.43-.49-1.16-.05-1.63.21-.22.5-.35.8-.36l9.7-1.49c.5,0,.75-.25.99-.75L16.28.53c.32-.52.99-.68,1.51-.36.23.14.4.36.48.61"/></g></svg>
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.53 33.3"><defs></defs><g id="Layer_1-2"><path id="Path_47" fill="{{section.settings.star_color}}" d="m18.27.77l4.48,8.95c.28.31.62.56.99.75l9.7,1.49c.74.15,1.21.88,1.06,1.61-.05.23-.16.45-.31.62l-6.96,6.96c-.25.25-.5.75-.25,1l1.74,9.7c.11.65-.32,1.26-.97,1.37-.27.05-.54,0-.77-.13l-8.7-4.48c-.38-.25-.87-.25-1.24,0l-8.7,4.48c-.53.35-1.24.21-1.59-.32-.18-.27-.24-.61-.16-.93l1.74-9.7c0-.5,0-.75-.25-1L.36,13.71c-.46-.43-.49-1.16-.05-1.63.21-.22.5-.35.8-.36l9.7-1.49c.5,0,.75-.25.99-.75L16.28.53c.32-.52.99-.68,1.51-.36.23.14.4.36.48.61"/></g></svg>
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.53 33.3"><defs></style></defs><g id="Layer_1-2"><path id="Path_47" fill="{{section.settings.star_color}}" d="m18.27.77l4.48,8.95c.28.31.62.56.99.75l9.7,1.49c.74.15,1.21.88,1.06,1.61-.05.23-.16.45-.31.62l-6.96,6.96c-.25.25-.5.75-.25,1l1.74,9.7c.11.65-.32,1.26-.97,1.37-.27.05-.54,0-.77-.13l-8.7-4.48c-.38-.25-.87-.25-1.24,0l-8.7,4.48c-.53.35-1.24.21-1.59-.32-.18-.27-.24-.61-.16-.93l1.74-9.7c0-.5,0-.75-.25-1L.36,13.71c-.46-.43-.49-1.16-.05-1.63.21-.22.5-.35.8-.36l9.7-1.49c.5,0,.75-.25.99-.75L16.28.53c.32-.52.99-.68,1.51-.36.23.14.4.36.48.61"/></g></svg> 
            <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34.53 33.3"><defs></defs><g id="Layer_1-2"><path id="Path_47" fill="{{section.settings.star_color}}" d="m18.27.77l4.48,8.95c.28.31.62.56.99.75l9.7,1.49c.74.15,1.21.88,1.06,1.61-.05.23-.16.45-.31.62l-6.96,6.96c-.25.25-.5.75-.25,1l1.74,9.7c.11.65-.32,1.26-.97,1.37-.27.05-.54,0-.77-.13l-8.7-4.48c-.38-.25-.87-.25-1.24,0l-8.7,4.48c-.53.35-1.24.21-1.59-.32-.18-.27-.24-.61-.16-.93l1.74-9.7c0-.5,0-.75-.25-1L.36,13.71c-.46-.43-.49-1.16-.05-1.63.21-.22.5-.35.8-.36l9.7-1.49c.5,0,.75-.25.99-.75L16.28.53c.32-.52.99-.68,1.51-.36.23.14.4.36.48.61"/></g></svg> 
            </span>
          <h2>{{ section.settings.left_title }}</h2>
        </div>
      {%- endif -%}
      
      <ul class="review_topbar_right  slick" data-slick='{
       "dots": false,
       "arrows": false,
       "infinite": true,
       "slidesToShow": 1,
       "slidesToScroll": 1,
       "autoplay": true,
       "autoplaySpeed": 2000,
        "fade": true,
        "speed": 1000,
        "cssEase": "linear"
       }'>
        {%- for block in section.blocks -%}
          <li class="slide">
              <figure><img src="{{ block.settings.review_image | img_url: 'master' }}" alt="{{ block.settings.review_image.title }}" title="{{ block.settings.review_image.title }}" /></figure>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Review Topbar",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "star_color",
        "label": "Star Color"
      },
      {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading"
      }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Image",
         "settings": [
           {
              "type": "image_picker",
              "id": "review_image",
              "label": "Image"
            }
         ]
      }
    ],
    "presets": [
      {
        "name": "Review Topbar",
        "category": "Review"
      }
    ]
  }
{% endschema %}
