{%- if section.settings.enabled_security_badges -%}
  {%- style -%}
    #section-{{ section.id }}{background:{{ section.settings.bg_color }};}
    #section-{{ section.id }} h4{color:{{ section.settings.text_color }};}
  {%- endstyle -%}
<section class="Section Section--spacingNormal security_badges_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="Container">
    <div class="security_badges">
      {%- for block in section.blocks -%}
      <div class="security_badges_wrapper">
        {{ block.settings.icon }}
        {%- if block.settings.title != blank -%}
        <h2>{{ block.settings.title }}</h2>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{%- endif -%}


{% schema %}
  {
    "name": "Security Badges",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_security_badges",
        "label": "Show Security Badges",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "blocks": [
      {
        "type": "Icon",
        "name": "Icon",
        "settings": [
          {
            "type": "textarea",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}