{%- style -%}
  #section-{{ section.id }}{background:{{ section.settings.bg_color }};}
  #section-{{ section.id }} p{color:{{ section.settings.text_color }};}
{%- endstyle -%}
<section class="Section security_badges_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}"><!-- data-section-type="security-badges"-->
  <div class="Container">
    <div class="security_badges">
      {%- for block in section.blocks -%}
      <div class="security_badges_wrapper">
        {{ block.settings.icon }}
        {%- if block.settings.title != blank -%}
          <p class="content">{{ block.settings.title }}</p>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  </div>
</section>
{% if section.settings.bottom_text != blank %}
<div class="security_badges_bottom_text">
  <div class="Container">
    <p>{{ section.settings.bottom_text }}</p>
  </div>
</div>
{% endif %}


{% schema %}
  {
    "name": "Security Badges",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "text",
        "id": "bottom_text",
        "label": "Bottom Text"
      }
    ],
    "blocks": [
      {
        "type": "Icon",
        "name": "Icon",
        "settings": [
          {
            "type": "textarea",
            "id": "icon",
            "label": "Icon (SVG Code)"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Security Badges",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}