<style>
  #section-{{ section.id }}{ background: {{ section.settings.bg_color }}; }
  #section-{{ section.id }} .ingredients_wrapper{ background: {{ section.settings.ingredient_bg_color }}; }
  #section-{{ section.id }} .sub_heading{ color: {{ section.settings.subheading_color }}; }
  #section-{{ section.id }} .sec_heading{ color: {{ section.settings.heading_color }}; }
</style>
<section class="Section Section--spacingNormal super_ingredients" id="section-{{ section.id }}">
  <div class="Container animate show_up">
    <div class="flex content">
      {%- if section.settings.subheading != blank or section.settings.title != blank -%}
        <div class="header SectionHeader">
          {%- if section.settings.subheading != blank -%}
            <h3 class="SectionHeader__SubHeading Heading sub_heading">{{ section.settings.subheading | escape }}</h3>
          {%- endif -%}
  
          {%- if section.settings.title != blank -%}
            <h2 class="SectionHeader__Heading Heading u-h1 sec_heading large animate">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
        </div>
      {%- endif -%}
  
      <div class="Rte">{{ section.settings.html }}</div>
    </div>
  </div>
  <div class="ingredients_wrapper">
    <div class="Container">
      <div class="flex ingredients">
        {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
        {% for block in section.blocks %}
          {%- assign image_url = block.settings.icon | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div class="item flex">
            <figure class="icon">
                <img class="Image--lazyLoad" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ block.settings.icon.alt | escape }}">
            </figure>
            <div class="text">
              <h3>{{ block.settings.title }}</h3>
              <div>{{ block.settings.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Super Ingredients",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFF2CC"
    },
    {
      "type": "color",
      "id": "ingredient_bg_color",
      "label": "Ingredients Background color",
      "default": "#152315"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading color",
      "default": "#496427"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#A5C423"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your HTML"
    },
    {
      "type": "richtext",
      "id": "html",
      "label": "HTML content",
      "default": "<p>Write your own custom HTML content.</p>"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Ingredient",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ingredient Image"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Super Ingredients",
      "settings": {}
    }
  ]
}
{% endschema %}