<section class="Section Section--spacingNormal text_logo_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container animate show_up">
    <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}

        {% if section.settings.desc != blank %}
          <p>{{ section.settings.desc }}</p>
        {% endif %}
      </header>
    
      <ul class="list animate show_up ad-1-5">
        {% for block in section.blocks %}
        <li class="color-{{ block.id }}" style="color:{{block.settings.text_color}};">
          <span class="bg_image"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 186.922 109.362" style="background: linear-gradient(90deg, {{ block.settings.bg_color }} 20%, rgba(255,255,255,1) 44%);">
            <path id="Path_425" data-name="Path 425" d="M160.547,55.41V53.769c14.75-3.463,22.731-11.3,22.731-25.882C183.278,8.748,170.959,0,142.326,0H0V109.362H147.185c28.631,0,39.737-11.848,39.737-30.075,0-15.675-6.421-22.056-26.375-23.878" fill="{{ block.settings.bg_color }}"/>
          </svg></span>
          <span class="text">{{ block.settings.title }}</span>
        </li>          
        {% endfor %}
      </ul>
    
  </div>
</section>
<style>
  @media screen and (min-width: 640px){
    .text_logo_section .list li .bg_image svg{ background: transparent !important; }
  }
</style>
{% schema %}
  {
    "name": "Text Logo",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text",
        "settings": [
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#496427"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text Logo",
        "category": "Logo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}