{% if section.settings.enabled_bg_text %}
{% style %}
  #section-{{ section.id }}{
    {% if section.settings.bg_image != blank %}
      background:url({{ section.settings.bg_image | img_url: 'master' }}) no-repeat center top {{ section.settings.bg_color }};
      background-size:200%;
    {% else %}
      background:{{ section.settings.bg_color }};
    {% endif %}
    }
{% endstyle %}
<section class="Section text_with_background_section" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="text_with_background_wrapper">
      {%- if section.settings.title != blank or section.settings.sub_title != blank -%}
      <div class="content_left">
        {%- if section.settings.sub_title != blank -%}
        <span>{{ section.settings.sub_title }}</span>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
        <h2>{{ section.settings.title }}</h2>
        {%- endif -%}
      </div>
      {%- endif -%}
      <div class="content_right">
        {%- if section.settings.right_desc != blank -%}
        <p>{{ section.settings.right_desc }}</p>
        {%- endif -%}
        <div class="button_wrapper">
          {% if section.settings.btn_link_01 != blank and section.settings.btn_title_01 != blank %}
            <a href="{{ section.settings.btn_link_01 }}" class="btn">{{ section.settings.btn_title_01 }}</a>
          {% endif %}
          {% if section.settings.btn_link_02 != blank and section.settings.btn_title_02 != blank %}
            <a href="{{ section.settings.btn_link_02 }}" class="btn">{{ section.settings.btn_title_02 }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.shape != blank -%}
  <div class="bg-shape">{{ section.settings.shape }}</div>
  {%- endif -%}
</section>
{% endif %}




{% schema %}
  {
    "name": "Text With Background",
    "class": "Section--spacingNormal",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled_bg_text",
        "label": "Show Background Text",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "textarea",
        "id": "shape",
        "label": "Shape Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Heading"
      },
      {
        "type": "textarea",
        "id": "right_desc",
        "label": "Right Description"
      },
      {
        "type": "text",
        "id": "btn_title_01",
        "label": "Button Heading 01"
      },
      {
        "type": "url",
        "id": "btn_link_01",
        "label": "Button Link 01"
      },
      {
        "type": "text",
        "id": "btn_title_02",
        "label": "Button Heading 02"
      },
      {
        "type": "url",
        "id": "btn_link_02",
        "label": "Button Link 02"
      }
    ],
    "presets": [
      {
        "name": "Text With Background",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}