

<div class="three_column_section">
  <div class="Container">
    <div class="three_column_wrapper">
      {%- if section.settings.title != blank or section.settings.desc != blank -%}
      <div class="three_column_heading">
        {%- if section.settings.title != blank -%}
        <h2>{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.desc != blank -%}
        <p>{{ section.settings.desc }}</p>
        {%- endif -%}
      </div>
      {%- endif -%}
      <div class="three_column_list">
        {%- for block in section.blocks -%}
        <div class="three_column">
          {%- if block.settings.image != blank -%}
          <figure><img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" title="{{ block.settings.title }}" /></figure>
          {%- endif -%}
          {%- if block.settings.title != blank -%}
          <h3>{{ block.settings.title }}</h3>
          {%- endif -%}
          {%- if block.settings.desc != blank -%}
          <p>{{ block.settings.desc }}</p>
          {%- endif -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>





{% schema %}
  {
    "name": "Three Column",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Three Column",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}