<section class="Section Section--spacingNormal video_with_text animate show_up" id="section-{{ section.id }}">
  <div class="Container">
    
    <div class="video_text_wrapper">
      <div class="col_left">
          {%- if section.settings.video_link != blank or section.settings.image != blank -%}
            {% if section.settings.video_link != blank %}
              <iframe class="Image--lazyLoad" width="885" height="498" src="{{ section.settings.video_link }}" title="{{ section.settings.video_title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {%- else -%}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: block.settings.image -%}{%- endcapture -%}
                {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <figure><img class="Image--lazyLoad"  data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" src="{{ section.settings.image | img_url: 'master' }}" alt="" title="" data-media-id="{{ block.settings.image.id }}" /></figure>
            {%- endif -%}
          {%- endif -%}
      </div>
      
      <div class="col_right">
        {% for block in section.blocks %}
          <div class="col_right_desc">
            {% if block.settings.title != blank %}
              <h3 class="Heading heading_small">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.desc != blank %}
              <p class="content">{{ block.settings.desc }}</p>
            {% endif %}
          </div>
        {% endfor %}
        {%- if section.settings.btn_link != blank and section.settings.btn_title != blank -%}
          <div class="button_wrapper"><a href="{{ section.settings.btn_link }}" class="Button"><span>{{ section.settings.btn_title }}</span></a></div>
        {%- endif -%}
      </div>
    </div>
    
  </div>
</section>

{% schema %}
  {
    "name": "Video With Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "video_link",
        "label": "Video Link"
      },
      {
        "type": "text",
        "id": "video_title",
        "label": "Video Title"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button Heading"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "Text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video With Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
